.header {
    height: 70px;
    margin: 0 auto;
    background-color: aquamarine;
}
.head {
    width: 1000px;
    height: 65px;
    margin: 0 auto;
    background-color: #6cffab;
}
.head1 {
    float: left;
    font-size: 30px;
    width: 333px;
    height: 65px;
    line-height: 65px;
}

.but1 {
    width: 100px;
    height: 35px;
    background-color: #dd51ff;
    margin: 5px 15px 5px 15px;
}

.head2 {
    float: left;
    font-size: 25px;
    width: 240px;
    height: 63px;
    text-align: center;
    line-height: 65px;
}

.block {
    width: 1000px;
    min-height: 150px;

    margin: 0 auto;
}

.note {
    width: 1000px;
    min-height: 60px;
    margin: 0 auto;
}

.content {
    border-right: 1px double crimson;
    width: 200px;
    min-height: 60px;
    background-color: bisque;
    float: left;
    text-align: center;
    line-height: 60px;
}

.box1 {
    width: 60px;
    height: 30px;
    float: right;
    background-color: greenyellow;
    margin: 15px 5px 5px 5px;
}

.box2 {
    width: 60px;
    height: 30px;
    float: right;
    background-color: #ff3f3c;
    margin: 15px 5px 5px 5px;
}

.box3 {
    width: 80px;
    height: 30px;
    background-color: #ffa22f;
    margin: 5px 5px 5px 5px;
}

.coverContent {
    margin-top: 10px;
    width: 999px;
    min-height: 60px;
}

.cleaner {
    width: 1000px;
    min-height: 50px;
    margin: 0 auto;
}

.but2 {
    width: 800px;
    height: 40px;
    background-color: #fff918;
    margin: 5px 99px 5px 99px;
}

.but3 {
    width: 800px;
    height: 40px;
    background-color: #48ff48;
    margin: 5px 99px 5px 99px;
}

.createrNotes {
    width: 1000px;
    min-height: 50px;
    margin: 20px 0px 10px 0px;
    background-color: rgba(255, 162, 47, 0.49);
}

.create-date {
    width: 900px;
    height: 20px;
    margin: 10px 25px 5px 25px;
}

.create-note {
    width: 900px;
    height: 20px;
    margin: 5px 25px 5px 25px;
}

.btn4 {
    width: 800px;
    height: 40px;
    background-color: #48ff48;
    margin: 5px 99px 5px 99px;
}

.fileContent {
    border-right: 1px double crimson;
    width: 199px;
    min-height: 60px;
    background-color: bisque;
    float: left;
    line-height: 50px;
}

.fileDivForm {
    width: 199px;
    height: 30px;
}

.fileUpload {
    width: 198px;
    height: 29px;
}

.file {
    width: 190px;
    height: 20px;
    float: left;
}

.uploadFile {
    width: 60px;
    height: 30px;
    float: left;
    background-color: #d8dc2b;
    margin: 15px 5px 5px 5px;
}

.fileName {
    width: 198px;
    height: 30px;

}

.fileNameContent {
    width: 198px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: large;
    color: crimson;
}

.content23 {
    width: 397px;
    min-height: 60px;
    background-color: bisque;
    float: left;
    text-align: center;
    line-height: 60px;
}

.downloadFile {
    width: 72px;
    height: 30px;
    float: left;
    background-color: #dc641e;
    margin: 15px 5px 5px 5px;
}

.dropFile {
    width: 70px;
    height: 30px;
    float: left;
    background-color: #dc1679;
    margin: 15px 9px 5px 5px;
}

.fileId {
    width: 15px;
    height: 58px;
    float: left;
    background-color: rgba(79, 220, 211, 0.71);
}



